<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Groupie Tracker - Artist Details</title>
    <link rel="stylesheet" href="/styles/artist.css" />
  </head>
  <body>
    <header>
      <nav>
        <!-- <a>Logo</a> -->
        <ul>
          <li><a href="/">Groupie Tracker</a></li>
          <!-- <li><a href="/about">About</a></li> -->
        </ul>
      </nav>
    </header>

    <section>
      <h1>404</h1>
      <h3> Page Not Found</h3>
    </section>
  </body>
</html>
